/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital@0;1&family=Fredoka+One&display=swap");

/* Wildcard to override default browser style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General style */
:root {
  /* Fonts */
  --font-family: "Open Sans", sans-serif;
  --heading-font: "Roboto", sans-serif;
  --logo-font: "Fredoka One", cursive;
  /* colors */
  --primary-color: rgba(26, 4, 4, 0.8); /* Tomato Red */
  --secondary-color: rgba(164, 41, 168, 0.868); /* Gold */
  --logo-color: #e7cee3; /* Thistle */
  --placeholder-color: #f5f5f5e7; /* White Smoke */
  --border-color: rgba(113, 114, 117, 0.826); /* Blue Violet */
  --background-color: #ffb8d1; /* Lavnder Pink */
  --button-color: #e0e1e9; /* Ghost White */
  --hover-color: #ddfdfe; /* Darker Green */
  --input-border-color: #3a3a3a; /* Granite Gray */
}

body {
  font-family: var(--font-family);
  color: var(--primary-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.hidden-heading {
  display: none;
}

/* Header */
header {
  background-color: var(--background-color);
  box-shadow: 0 2px 2px var(--primary-color);
  top: 0;
  padding: 0 1rem;
  display: flex;
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

header a {
  text-decoration: none;
  color: inherit;
}

#logo {
  font-family: var(--logo-font);
  font-size: 1.6rem;
  color: var(--primary-color);
  -webkit-text-stroke: 2px var(--logo-color);
}

#menu {
  font-family: var(--heading-font);
  font-size: 100%;
  font-weight: bolder;
  list-style-type: none;
  letter-spacing: 2px;
  gap: 1rem;
}

#menu li {
  margin: 1rem;
}

#menu a {
  text-decoration: none;
  color: var(--primary-color);
}

#menu a:hover,
#menu a.active {
  color: var(--border-color);
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Navbar style */
nav {
  position: absolute;
  background-color: inherit;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

#navbar-toggle:checked ~ nav {
  display: block;
}

#navbar-toggle {
  display: none;
}

.navbar-toggle-label {
  font-size: 2rem;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

p {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-size: 1.5rem;
  margin: 0;
  padding: 0 1rem;
}

/* Main */
main {
  flex: 1 0 auto;
  overflow: auto;
}

/* Hero section */
#main-hero {
  border-bottom: 2px solid#000;
  padding: 1.1rem;
  display: flex;
  width: 100%;
  background: url("../images/tranditional_clothes.webp") no-repeat center
    center/cover;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: 28rem;
  /* add fallback background color in case the image does not load */
  background-color: rgba(251, 200, 130, 0.6);
}

/*  About Section */
#about {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  margin-bottom: 1.3rem;
}

.profile {
  width: 100%;
  height: auto;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.profile-img {
  padding: 0.5rem;
  float: left;
  height: 19rem;
  width: 19rem;
  border-radius: 50%;
  box-shadow: 4px 4px 4px 4px var(--border-color);
}

#desc-text {
  margin: 0 auto;
  max-width: 40rem;
}

.container-main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container-main span {
  color: var(--primary-color);
  font-family: var(--logo-font);
  font-size: 1.6rem;
}

span > i {
  color: var(--secondary-color);
  font-size: 3rem;
}

span:nth-of-type(2) i {
  color: var(--background-color);
  font-size: 2rem;
}

.container-main img {
  max-width: 100%;
  height: auto;
}

/* styling gallery */
#photos img {
  width: 100%;
  line-height: 1em;
  border-radius: 2px;
  height: auto;
}
#photos {
  line-height: 0;
  background-color: var(--placeholder-color);
}

/* Form Styling */
form {
  background-color: var(--hover-color);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0.5rem var(--border-color);
  max-width: 75%;
  align-items: center;
  margin: 2rem auto;
  flex-grow: 1;
  text-align: center;
}

form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

form .text-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  background-color: var(--placeholder-color);
  border: 1px solid var(--input-border-color);
}

.text-input::placeholder {
  color: var(--primary-color);
  font-style: italic;
}

#signup-form h2 {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

.submit_button {
  background-color: var(--placeholder-color);
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
  margin: 1rem auto;
  border: 2px solid var(--border-color);
  display: block;
}

.submit_button:hover {
  background-color: var(--hover-color);
}

/* Footer */
footer {
  background-color: var(--background-color);
  padding: 1.2rem 0;
  text-align: center;
  bottom: 0;
}

#social-networks {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 2rem;
  color: var(--primary-color);
  -webkit-text-stroke: 1px rgb(163, 10, 10);
}

/* Bigger Phone Screens (example 576 and up) */
@media screen and (min-width: 574px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }

  main {
    overflow: auto;
  }

  #photos {
    column-count: 2;
    column-gap: 0;
  }

  #form {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin-left: 1.5rem;
    align-content: center;
  }

  /* Tablet screens (example 768px and up) */
  @media screen and (min-width: 768px) {
    nav {
      display: block;
      position: relative;
      box-shadow: none;
      width: fit-content;
      padding-right: 1rem;
    }

    #menu {
      display: flex;
    }

    #menu > li {
      padding-left: 1rem;
    }

    .navbar-toggle-label {
      display: none;
    }

    #logo {
      font-size: 200%;
      line-height: 5rem;
      margin: 0 0.5rem;
    }

    /* Main content */
    main {
      overflow: auto;
    }

    /* Gallery page */
    #photos {
      column-count: 3;
    }

    /* Form */
    #signup {
      background-position: center;
      position: relative;
      max-width: 25rem;
    }
  }

  /* Laptops and desktops (example 900px and up to 1199px) */
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    /* Photos */
    #photos {
      column-count: 4;
    }
  }

  /* Desktops and larger screens (example 1200px and up) */
  @media screen and (min-width: 1200px) {
    /* Photos */
    #photos {
      column-count: 4;
    }
  }
}
