/* Google fonts import */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital@0;1&family=Fredoka+One&display=swap');

/* Wildcard to override default browser style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General style */
:root {
  /* Fonts */
  --font-family: 'Open Sans', sans-serif;
  --heading-font: 'Roboto', sans-serif;
  --logo-font: 'Fredoka One', cursive;
  /* colors */
  --primary-color: #ff6347;         /* Tomato Red */
  --secondary-color: #ffd700;       /* Gold */
  --accent-color: #40e0d0;          /* Turquise */
  --highlight-color: #ff69b4;       /* Hot Pink */
  --extra-color: #8a2be2;           /* Blue Violet */
  --background-color: #fff8dc;      /* Cornsilk */
  --text-color: #ff69b4;            /* Dark Gray */
  --button-color: #40e0d0;          /* Turquoise */
  --button-hover-color: #228b22;    /* Darker Green */
  --input-border-color: #636363;    /* Granite Gray */
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Header */
header {
  background-color: var(--extra-color);
  box-shadow: 0 2px 2px var(--text-color);
  padding: 0 1rem;
  position: fixed;
  display: flex;
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-family: var(--heading-font);
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

p {
  font-family: var(--font-family);
  color: #000;
  font-size: 1.5 rem;
  margin: 0;
  padding: 0 1rem;
}

#logo {
  font-family: var(--logo-font);
  font-size: 1.5rem;
  color: var(--primary-color);
}

#menu {
  font-family: var(--heading-font);
  font-size: 110%;
  font-weight: bolder;
  list-style-type: none;
  letter-spacing: 2px;
  gap: 18px;
}

#menu li {
  margin: 1rem;
}

.active {
  border-bottom: 2px dotted #e0c947;
}
#menu a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

#menu a:hover, #menu a.active {
  color: var(--accent-color);
}

/* Navbar style */
nav {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

#navbar-toggle:checked~nav {
  display: block;
}

#navbar-toggle {
  display: none;
}

.navbar-toggle-label {
  font-size: 2rem;
}

/* Main */
main {
  flex: 1 0 auto;
  margin-top: 48px;
  /* Hamburger menu displayed after adding the overflow decelaration */
  overflow: auto;
  background-color: #fff;
}

/* Hero section */
#main-hero {
  border-bottom: 2px solid#000;
  padding: 20px;
  display: flex;
  width: 100%;
  background: url("../images/tranditional-clothes.webp") no-repeat center center/cover;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: 400px;
  gap: 30px;

  /* add fallback background color in case the image does not load */
  background-color: rgba(251, 200, 130, 0.6);
}

/*  About Section */
#about {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  margin-bottom: 20px;
}

.profile {
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.profile-img {
  padding: 10px;
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#desc-text {
  margin: 0 auto;
  max-width: 650px;
}

.about-zuleyha h2 {
  text-align: justify;
}

.container-main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container-main span {
  color: #e0c947;
  font-size: larger;
}

.container-main img {
  max-width: 100%;
  height: auto;
}

/* styling gallery */
#photos img {
  width: 100%;
  line-height: 1em;
  border-radius: 2px;
  height: auto;
}
#photos {
  line-height: 0;
}


/* Form Styling */
form {
  background-color: #e5d2d2;
  padding: 10px 10% 0 10%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(240, 224, 225, 0.1);
  max-width: 75%;
  align-items: center;
  margin: auto;
  flex-grow: 1;
}

form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

form .text-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: var(--background-color);
  border: 1px solid var(--input-border-color);
}

from .text-input::placeholder {
  color: #bbb;
}

#signup-form h2 {
  color: var(--text-color);
  margin-bottom: 20px;
  font-size: 1.5rem;
}

form .submit_button {
  background-color: var(--button-color);
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

form .submit_button:hover {
  background-color: var(--button-hover-color);
}

/* Footer */
footer {
  background-color: var(--highlight-color);
  padding: 20px 0;
  text-align: center;
}

#social-networks {
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 2rem;
  color: var(--button-color);
  transition: color 0.3s ease-in-out;
}

/* Bigger Phone Screens (example 576 and up) */
@media screen and (min-width: 574px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }

  main {
    margin-top: 47px;
    overflow: auto;
  }

  #photos {
    column-count: 2;
    column-gap: 0;
  }

  #form {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin-left: 25px;
    align-content: center;
  }

  /* Tablet screens (example 768px and up) */
  @media screen and (min-width: 768px) {
    nav {
      display: block;
      position: relative;
      box-shadow: none;
      width: fit-content;
      padding-right: 1rem;
    }
    
    #menu {
      display: flex;
    }

    #menu>li {
      padding-left: 1rem;
    }

    .navbar-toggle-label {
      display: none;
    }

    #logo {
      font-size: 250%;
      line-height: 75px;
      margin: 0 0.5rem;
    }

    /* Main content */
    main {
      margin-top: 79px;
      overflow: auto;
    }

    /* Gallery page */
    #photos {
      column-count: 3;
    }

    /* Form */ 
    /* #signup {
      background-position: center;
      position: relative;
    }

    #signup-form {
      max-width: 400px;
      position: absolute;
      right: 10%;
      top: 150%;
    } */
  }
  
}